<h1>Palindrome#view</h1>
<p>Find me in app/views/palindrome/view.html.erb</p>

<p id="count">
    <% if @result.empty? %>
        <%= 'Error input' %>
    <% else %>
        <%= "Count: #{@count}"%>
    <% end %>
</p>


<p id="res_table"></p>
<table border="1">
    <tr>
        <th>Count</th>
        <th>Nuber</th>
        <th>Squared number</th>
    </tr>
    <% @result.each do |row| %>
    <tr>
        <% row.each do |value| %>
        <td>
            <%= value %>
        </td>
        <% end %>
    </tr>
    <% end %>
</table>

<p> <%= link_to "Repeat input", :palindrome_input %> </p>